# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfstate.backup
terraform/**/*.tfvars
!terraform/**/*.tfvars.example
terraform/**/backend.*.hcl
!terraform/**/backend.*.example.hcl
*.auto.tfvars
.terraform.lock.hcl

# Sensitive / local
*.pem
*.ovpn
.env
*.env
.env.*

# OS
.DS_Store

# Ansible
*.retry

# IDE
.vscode/
